html, body {
  height: 100%;
  width: 100%;
}

nav{
  text-align:center;
  font-family: sans-serif;
}

p{
  text-align: center;
  background-color: white;
}
img{
  padding: auto;
  margin: 20px;
}
h2{
  font-family: serif Georgia;
  text-align: center;
}
ol, ul, li {
  background: lightskyblue;
  color: darkblue;
  padding: 30px;
  margin: 10px;
}

li.highlightColor{
  background: rgb(161, 0, 0);
}

.navColor a:hover{
  display: block;
  background-color: rebeccapurple;
  color:darkorange;
}
ul.List{
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  font-size: 1.0 em; 
}

body{
  background-color: black;
  color: rgb(245, 166, 39)
}

th{
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 1.5em; 
  border: 1px solid rgb(161, 0, 0);
}
table, td{
  font-family: sans-serif;
  font-size: 1.5em; 
  border: 1px solid rgb(161, 0, 0);
  background: orange;
}


.header { grid-area: header; }
.nav { grid-area: nav; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container{

  display: grid;
  grid-template-areas:
  'header header header header header'
  'nav main main main main'
  'footer footer footer footer footer';
}
  